/* src/Button.css */
.button {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(1);
  box-shadow: none;
}

.button:nth-child(4n + 1) {
  background-color: #ff7979;
  color: white;
}

.button:nth-child(4n + 2) {
  background-color: #badc58;
  color: white;
}

.button:nth-child(4n + 3) {
  background-color: #f9ca24;
  color: white;
}

.button:nth-child(4n + 4) {
  background-color: #686de0;
  color: white;
}
